@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: #333333;
}
body {
    padding: 20px 0 30px;
}
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}
input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button {
    display: none;
}
/* Button style */
.button {
    padding: 0 25px;
    font-family: 'Roboto', sans-serif;
    background-color: #0056d8;
    border-radius: 0 20px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.button__text {
    font-size: 20px;
    line-height: 64px;
    text-transform: uppercase;
    color: #fff;
}
.button:hover {
    background-color: #003585;
}
.button:active {
    background-color: #0056d8;
}
/* End Button style */

/* Start Main styles */
.registration-form {
    position: relative;
    width: 606px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(196, 196, 196, .4);
}
.registration-form__inner {
    max-width: 324px;
    margin: 0 auto;
}
.registration-form__title {
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
}
.registration-form__label {
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 23px;
    color: #888888
}
.registration-form__label.required {
    position: relative;
}
.registration-form__label.required:after {
    position: absolute;
    content: '*';
    top: 0;
    right: -9px;
    color: #e90000;
}
.registration-form__input {
    display: block;
    width: 100%;
    padding: 0 24px;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    font-size: 20px;
    line-height: 62px;
    cursor: pointer;
}
.registration-form__text {
    font-size: 20px;
    line-height: 23px;
}
.registration-form__row.error {
    position: relative;
}
.registration-form__row.error>input {
    border: 1px solid #e90000;
}
.registration-form__row.error:after {
    content: 'Empty field';
    position: absolute;
    display: block;    
    bottom: -16px;
    font-size: 13px;
    line-height: 16px;
    color: #e90000;
}
.registration-form__input::-webkit-input-placeholder,
.registration-form__input:-ms-input-placeholder,
.registration-form__input:-moz-placeholder,
.registration-form__input::-moz-placeholder {
    color: #c1c1c1;
}
.registration-form__input:hover,
.registration-form__input:focus {
    border: 1px solid #0056d8;
}
.registration-form__success {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 180px;
    user-select: none;
}
.registration-form__success > span {
    font-size: 20px;
    color: #003585;;
}
/* End Main styles*/

/* Modificators */
.margin-bottom-16px {
    margin-bottom: 16px;
}
.margin-bottom-32px {
    margin-bottom: 32px;
}
.margin-bottom-42px {
    margin-bottom: 42px;
}
.margin-bottom-72px {
    margin-bottom: 72px;
}
.margin-right-left-5px {
    margin-right: 5px ;
    margin-left: 5px;
}
.padding-top-bottom-90px {
    padding-top: 90px;
    padding-bottom: 90px;
}
.padding-top-bottom-54px {
    padding-top: 54px;
    padding-bottom: 54px;
}
.center-position-block {
    margin-left: auto;
    margin-right: auto;
}
.text-align-center {
    text-align: center;
}
.color-888888 {
    color: #888888;
}
/* End Modificators */


/* Combobox style */
.combobox {
    position: relative;
    cursor: pointer;
    transition: .2s;
}
.combobox:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 8.5px;
    top: 50%;
    right: 21px;
    margin-top: -4px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAALCAYAAACUPhZAAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAESSURBVHgBpZKLbcIwEIZtZwFGyAh0gSidoO0EHQGYoGGCmgloJ4ANQh4DsAGMkAHy4DtkIwQhIPglK5f47vvtu+gsy3YKtW37jvbqRRVFEcNaaa3nxn0LjTEpitULAjwBnBKOmqYJDS9vuKy9AQk/6gnlef4Ly0rMc04XptpvcuoE+BGMmY2iaPYIlDo51IpwzKoAzwD/HTkXiVNnMGJtSfwamgP5YwcOWXuXv/X7+sZJ0rOC3kGXZflNX+3QQa7gfVeVydMm6/dlLsASiXkupL99nF64F7+pACcSY5bUdb0IgmDZdd2nA0t/7a36Qbi7xWnQZ6pcGzZDtXfhziDGYKnuzOEpuDOQOXwA/gdcPVJzAKfSnlYRoQp0AAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: center;
}
.combobox:hover:after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAALCAYAAACUPhZAAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEsSURBVHgBpZLLkYJAEIZnhgPFbUMgBDYDN4JdI9gQ1AsUXBwuvC6OEagRaAYaghloCJ7gBPg3glKl4muqqO559Nfdf8OjKNoxrLIsf1zX3bMPVxiGPSHEMs9zX9RnJud8TRfsg5UkyYA4KPQL1hS6rn/DWTUJ4jgeszcWFJgURaHIB9yHCkPOLu1IwCswrHIcZ/QMFHFU1BKuBXtAghHA84rTfhgEwVDTtDG1he0Wtt81B8hgAUZgE98eWvdt29429/xOJesm4N6gId8/jOoq5AreJKCJI8DCllr1Pc9TLTB1J8mHnZK+tzg34a0kCl0MqoecyyzLpoZhzAD8ozPSt530JXid4Dzoc9BpcCTDpiv2IbxO0ANwxh7M4S14ncDEn/SbpulCSnl4JuYI6OuexStVHWMAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: center;
}
.combobox-input {
    position: relative;    
    background-color: transparent;
    z-index: 2;
    cursor: pointer;
}
.combobox-input:disabled {
    background-color: rgba(196, 196, 196, .4);
}
.combobox-list {
    position: absolute;
    max-height: 0;
    top: 48px;
    right: 0;
    left: 0;
    margin-bottom: 0;
    padding: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius: 10px;
    overflow: auto;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(177, 193, 199, .4);
    z-index: 3;
    transition: .2s ease .2s;
}
.combobox-input:focus~.combobox-list {
    max-height: 135px;
    transition: .2s;
}
.combobox-list>li {
    position: relative;
    padding: 0 20px;
    line-height: 30px;
    cursor: pointer;
}
.combobox-list>li:hover {
    background-color: #edf6fa;
}
.combobox-list>li:first-child {
    margin-top: 10px;
}
.combobox-list>li:last-child {
    margin-bottom: 10px;
}
/* End Combobox style */


/* Custom Datapicker*/
.custom-datapicker {
    position: relative;
}
.custom-datapicker__background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}
.custom-datapicker:after {
    content: '';
    position: absolute;
    right: 21px;
    top: 50%;
    width: 26px;
    height: 22px;
    margin-top: -11px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAWCAYAAADeiIy1AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB7SURBVHgB7ZVhCoAgDIWf0kHWSTy7J2k3KQfVjzKwxVTCD0QQZb63BwMuxBgXWVDy9H7K3CV8g3KHbq9OsIV9hSICndaFEBwMSI6tsntUolqhW+oKwsHJ5hkvaadI89sSRo/U/K9H7awrQROYvhV1HW93zAtrRBHDHt4AanYr/zDrXVUAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: center;
}
.custom-datapicker:hover:after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAWCAYAAADeiIy1AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB7SURBVHgB7ZVhCoAgDIWf0kHWLT2Ct2w3KQfVjzKwxVTCD0QQZb63BwMuxBgXWVDy9H7K3CV8g3KHbq9OsIV9hSICndaFEBwMSI6tsntUolqhW+oKwsHJ5hkvaadI89sSRo/U/K9H7awrQROYvhV1HW93zAtrRBHDHt4AqcMp/me3gu4AAAAASUVORK5CYII=);
}
.custom-datapicker__input {
    position: relative;    
    background-color: transparent;
    z-index: 2;
}
.custom-datapicker__dates {
    position: absolute;
    top: 65px;
    left: 0;
    width: 324px;
    max-height: 0;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(177, 193, 199, .4);
    overflow: hidden;
    transition: .2s ease .2s;
    z-index: 3;
}
.custom-datapicker__dates.open {
    max-height: 400px;
}
.custom-datapicker__dates-inner {
    padding: 10px;
    border: 1px solid #333333;
}
.custom-datapicker__head {
    position: relative;
    text-align: center;
    border-bottom: 2px solid #888888;
}
.custom-datapicker__arrow {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    cursor: pointer;
    user-select: none;
}
.custom-datapicker__arrow > span {
    font-size: 20px;
    line-height: 20px;
}
.custom-datapicker__arrow.left {
    left: 0;
}
.custom-datapicker__arrow.right {
    right: 0;
}
.custom-datapicker__month > span {
    font-size: 20px;
    line-height: 30px;
}
.custom-datapicker__days {
    font-size: 0;    
}
.custom-datapicker__day {
    display: inline-block;
    width: 43px;
    text-align: center;
    cursor: pointer;
}
.custom-datapicker__day > span {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    line-height: 50px;
}
.custom-datapicker__day.active>span,
.custom-datapicker__day:hover>span {
    background-color: #888888;
    color: #fff;
}
/* */